annotated-types==0.7.0
anyio==4.11.0
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1737352602016/work
async-timeout==5.0.1
asyncpg==0.30.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1733827268945/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560574711/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1739917060572/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1742219570693/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1736345463896/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1741620732069/work
distlib==0.3.8
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
exceptiongroup==1.3.0
filelock==3.16.0
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1728841378618/work
greenlet==3.2.4
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httpx==0.28.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
jiter==0.11.1
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1725302947603/work
langchain-core==1.0.0
langchain-openai==1.0.0
langchain-postgres==0.0.16
langchain-text-splitters==1.0.0
langsmith==0.4.37
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1742397209932/work/libmambapy
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1731147067560/work
numpy==2.2.6
openai==2.6.0
orjson==3.11.3
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pgvector==0.3.6
platformdirs==4.3.2
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1733222765875/work
psycopg==3.2.11
psycopg-binary==3.2.11
psycopg-pool==3.2.6
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1732588454015/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.12.3
pydantic_core==2.41.4
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
PyYAML==6.0.3
regex==2025.10.22
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-toolbelt==1.0.0
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1736248086397/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1728724504331/work
sniffio==1.3.1
SQLAlchemy==2.0.44
tenacity==9.1.2
tiktoken==0.12.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1722737464726/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_truststore_1739009763/work
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
virtualenv==20.26.4
zstandard==0.23.0
